# OpenAI

OPENAI_API_KEY=<your_key>


# Next JS

NEXT_PUBLIC_URL=<your_key>
REVALIDATE_SECRET=<your_key>


# Supabase 

PROJECT_ID=<your_key>
PROJECT_URL=<your_key>
PUBLISHABLE_KEY=<your_key>
ANON_KEY=<your_key>
DATABASE_URL=<your_key>
SERVICE_ROLE_KEY=<your_key>