BACKEND_API_KEY=<your_value>

OPENAI_API_KEY=<your_value>

VOYAGEAI_API_KEY=<your_value>

RESEND_API_KEY=<your_value>
RESEND_FROM_EMAIL=<your_value>

FRONTEND_URL=<your_value>

SUPABASE_PROJECT_URL=<your_value>
SUPABASE_SERVICE_ROLE_KEY=<your_value>